.containerAdd{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 0 10px  rgba(0, 0, 0, 0.09);
  margin-top: 50px;
  border-radius: 30px;
}

.AddProContainer{
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 100%;
}

.subProContainer{
  display: flex;
  justify-content: space-between;
  text-align: start;
  margin: 20px 30px;
}

.label1 label,.label2 label{
  margin-right: 30px;
  font-size: 20px;
  margin-bottom: 30px;
}
.input1 input,.input2 input{
  margin-bottom: 30px;
  border-radius: 5px;
  border: 1px solid rgb(202, 202, 202);
  padding-left: 10px;
}


.AddProtitle{
  text-align: center;
   margin-top:50px;
   font-size: 29px;
   font-weight: 600;
}
.Protitle{
  text-align: center;
  margin-top:50px;
  font-size: 70px;
  font-weight: 600;
}


#shopTitle{
  text-align: center;
}

.description i{
  position: relative;
  left: 35px;
  top: 10px;
  margin: 0 1px;
  background-color: rgb(42, 153, 218);
  color: #f9f9f9;
}

.description i:hover{
  border: 0 ;
  background-color: #f9f9f9;
  color:rgb(42, 153, 218) ;
}

.trash{
  background-color: rgb(220, 62, 62) !important;
  color: rgb(255, 255, 255) !important;
  border: none;
  transition: 0.3s ease;
}

.trash:hover{
  border: 0 !important;
  background-color: #f9f9f9 !important;
  color: rgb(220, 62, 62) !important;
}

#addBtn{
  padding: 5px 100px;
  margin-bottom: 20px;
}
